$link-color: #0066CC;
$h1-color: #1E3765;
$h2-color: #007fa3;

.site-header .site-title,
body h1 {
    color: $h1-color;
    font-weight: bold;
}

body h2 {
    color: $h2-color;
    font-weight: bold;
}

.nav-list-link{
    color: $h1-color;
}